let {{ output_node }} = {{ prev_node}}
                            .map(|{{in_schema}}| ({{groupby_schema}}, {{agg_schema}}))
                            .reduce(|key, input, output| {
                                let mut agg_input = vec![];
                                for (val, cnt) in input.iter() {
                                    agg_input.push(tuple_to_vec_string!( 
                                    {% if groupby_len > 1 %}{% for index in range(groupby_len) %}val.{{ index }}{% if not loop.last %}, {% endif %}{% endfor %}
                                    {% else %}val{% endif %}
                                    ));
                                }
                                match run_agg_function("{{ grpc_address }}".to_string(), "{{ function_name }}".to_string(), agg_input) {
                                    Ok(results) => {
                                        for i in results {
                                            output.push((i, 1));
                                        }
                                    },
                                    Err(e) => {
                                        eprintln!("Failed to run Agg function: {}", e); // Log the error
                                    }
                                }                            
                            })
                            .map(|(key, val)| ({% if groupby_len == 1 %}key, {% else %}{% for i in range(groupby_len) %}key.{{i}}, {% endfor %}{% endif %}{% for index in range(agg_len) %}val[{{ index }}].clone().parse::<{{DATAFLOW_TO_RUST_TYPES[agg_by_index[index]['dataflow_type']]}}>().unwrap(){% if not loop.last %}, {% endif%}{% endfor %} ));