include settings.ini
include LICENSE
include CONTRIBUTING.md
include README.md
include spannerflow/Cargo.toml
recursive-include spannerflow/templates *
recursive-include spannerflow/src *
recursive-exclude * __pycache__
prune tests