include settings.ini
include LICENSE
include CONTRIBUTING.md
include README.md
include spannerflow/Cargo.toml
include spannerflow/Cargo.lock
recursive-include spannerflow/templates *
recursive-include spannerflow/rust_server *
recursive-include spannerflow/rust_lib *
recursive-include spannerflow/rust_span *
recursive-include spannerflow/target *
recursive-exclude * __pycache__