fn main() {
    prost_build::compile_protos(
        &["{{ proto_file_path }}"],  // Path to your .proto files
        &["{{ proto_dir_path }}"],                 // Include path for the .proto files
    ).unwrap_or_else(|e| panic!("Failed to compile protos: {:?}", e));
}