extern crate timely;
extern crate differential_dataflow;

use differential_dataflow::input::InputSession;
use differential_dataflow::operators::*;

#[no_mangle]
pub extern "C" fn foo(rows: &mut Vec<Vec<String>>){
    for row in rows.iter_mut() {
        row.insert(1, "Modified".to_string()) ;
    }
    rows.push(vec!["42".to_string()]);
    rows.push(vec!["43".to_string()]);
}